@{ Layout = "_LayoutAdmin"; }

<style>

    #dashJobs {
        background-color: palevioletred;
    }

    #viewJob {
        color: dodgerblue;
    }

    #Jobs {
        color: black;
        font-size: x-large;
    }

    #dashAssign {
        background-color: lightgreen;
    }

    #viewAssign {
        color: dodgerblue;
    }

    #assignment {
        color: black;
        font-size: x-large;
    }

    #dashInterview {
        background-color: cornflowerblue;
    }

    #interview {
        color: black;
        font-size: x-large;
    }
</style>


<div class="col-md-6">

    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard View</li>
    </ol>
</div>

<div class="container col-12-mt-8">

    <div class="row">
        <div class="col-4">
            <div class="card card-primary">
                <div class="card-header" id="dashAssign">
                    <h3 class="card-title">Assigment</h3>
                </div>
                <div class="card-body">
                    <div id="assignment">
                        <p></p>
                    </div>
                    <a id="viewAssign" asp-controller="JobEmployees" asp-action="Main">View Assignment</a>
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="card card-primary">
                <div class="card-header" id="dashInterview">
                    <h3 class="card-title">Interview</h3>
                </div>
                <div class="card-body">
                    <div id="interview">
                        <p></p>
                    </div>
                    <a id="viewInterview" asp-controller="JEInterviews" asp-action="Main">View Interview</a>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card card-primary">
                <div class="card-header" id="dashJobs">
                    <h3 class="card-title">Job</h3>
                </div>
                <div class="card-body">
                    <div id="Jobs">
                        <p></p>
                    </div>
                    <a id="viewJob" asp-controller="jobs" asp-action="Main">View Job</a>
                </div>
                
            </div>
        </div>
        
    </div>
    <br />

    <div class="row">
        <div class="col-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Interview Result</h3>
                </div>
                <div class="card-body">
                    <div id="chartinterview">

                    </div>
                </div>
           
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Gender</h3>
                </div>
                <div class="card-body">
                    <div id="chart">

                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/chartJs.js"></script>
}
